#searchlistPopupDivClass{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 99999999;
    height: 100vh;
    overflow: auto;
    background: white;
    -webkit-box-shadow: -2px 0px 6px 0px rgba(167,167,167,1);
    -moz-box-shadow: -2px 0px 6px 0px rgba(167,167,167,1);
    box-shadow: -2px 0px 6px 0px rgba(167,167,167,1);
    display: block;
}
.minimizedDiv{
    width: 140px !important;
    position: fixed !important;
    top: 50% !important;
    height: 400px !important;
    margin-top: -200px !important;
    right: 0px !important;
    border-radius: 20px 0px 0px 20px !important;
    overflow: hidden !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 0px 6px 2px !important;
    border-top: 1px solid rgb(210, 214, 220) !important;
    border-right: none !important;
    border-bottom: 1px solid rgb(210, 214, 220) !important;
    border-left: 1px solid rgb(210, 214, 220) !important;
    border-image: initial !important;
}
#searchlistPopupDivClass iframe{
    width: 100%;
    height: calc(100vh - 6px);
}
#searchlistPopupDivClass .spinner-border {
    height: 50px;
    width: 50px;
    z-index: 9999;
    color: #17a2b8 !important;
    display: inline-block;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
#searchlistPopupDivClass .loader{
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}
.d-flexjustify-content-between{
}

#headerDiv {
    display: flex!important;   
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    height: 35px;
    width: 100%;
    top: 0;
    background-color: #5952ff;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(238, 238, 238, 1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(238, 238, 238, 1);
    box-shadow: 0px 5px 5px 0px rgba(238, 238, 238, 1);
    padding: 8px 8px;
    z-index: 999999;
}
.d-flex.justify-content-start{
    display: flex!important;   
    -ms-flex-pack: justify!important;
    justify-content: flex-start!important;
}
.closePopup{
    color: white;
}
@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}
.introjs-tooltiptext {
    padding-top: 0 !important;
}
.introjs-skipbutton{
    color: white !important;
}
.introjs-tooltip{
    background-color: #7aa2ca !important;
    color: white !important;
}
.introjs-arrow.top{
    border-bottom-color: #bdc9d6 !important;
}

.custom-swal {
    z-index: 9999999999 !important; /* Set your desired z-index here */
}

.swal2-container{
    z-index: 9999999999 !important;
}